.footer {
  background-color: var(--primary-dark);
  color: white;
  padding: 4rem 0;
}

.footer-logo img {
  max-width: 150px;
  margin-bottom: 1rem;
}

.contact-info p {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.contact-info p svg {
  margin-right: 0.5rem;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 0.5rem;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
  color: white !important;
}

.social-icons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.social-icon {
  color: white;
  font-size: 1.5rem;
}

.social-icon:hover {
  color: #007bff;
}
.font15 {
  font-size: 15px;
}
.font20 {
  font-size: 20px;
}
.copyright {
  background-color: #2f2a27;
}
